{% extends 'master/layout.html' %}
{% block content %}
    <div>
        <div class="newcasetitle">
            <p>寄养中订单</p>
        </div>
        <div class="twoline">
            <span>家长姓名</span>
            <input type="text" name="username">
            <span>电话</span>
            <input type="text" name="telephone">
        </div>
        <br/>
        <div class="twoline">
            <span>联系地址</span>
            <input style="width: 44.2%" type="text" name="address">
        </div>
        <br/>
        <div class="twoline">
            <span>宠物姓名</span>
            <input type="text" name="petname">
            <span>宠物类型</span>
            <select name="pettype">
                <option value="1">猫</option>
                <option value="2">狗</option>
                <option value="3">小宠</option>
                <option value="4">其他</option>
            </select>
        </div>
        <div class="twoline">
            <span>寄养时间</span>
            <input type="text" value="开始时间"> ~ <input type="text" value="截止时间">
        </div>
        <br/>
        <div class="twoline">
            <span>预计收入</span>
            <input type="text" name="income">
        </div>
        <br/>
        <div class="twoline">
            <span>是否完成收费</span>
            <input type="radio" name="finishincome">是
            <input type="radio" name="finishincome" style="margin-left: 150px">否
        </div>
        <br/>
        <div class="twoline">
            <span>宠物位置</span>
            <select name="pettype">
                <option value="1">1号房</option>
                <option value="2">2号房</option>
                <option value="3">3号房</option>
                <option value="4">4号房</option>
            </select>
            <span>食物位置</span>
            <select name="pettype">
                <option value="1">1号收集箱</option>
                <option value="2">2号收集箱</option>
                <option value="3">3号收集箱</option>
                <option value="4">4号收集箱</option>
            </select>
        </div>
        <br/>
        <div class="twoline">
            <input type="submit" value="保存">
            <input style="margin-left: 80px" type="submit" value="结单">
        </div>
    </div>
{% endblock %}