{% extends 'master/layout.html' %}
{% load wrapper %}
{% block content %}
    <div style="">
        {% for data in data %}
            <div class="newcasetitle">
                <p>修改家庭信息</p>
            </div>
            <div class="twoline">
                <span>家长姓名</span>
                <input type="text" name="username" value={{ data.pethost.name }}>
                <span>电话</span>
                <input type="text" name="telephone" value={{ data.pethost.telephone }}>
            </div>
            <br/>
            <div class="longline">
                <span>联系地址</span>
                <input style="width: 44.2%" type="text" name="address" value={{ data.pethost.adress }}>
            </div>
            <br/>
            <div class="addmorepet" id="addmorepet">
                <div class="twoline">
                    <span>宠物姓名</span>
                    <input type="text" name="petname" value={{ data.petname }}>
                    <span>宠物类型</span>
                    {#                 <input name="pettype" type=text value={{ data.pettype|getvalue:data.type }} >#}
                    <select name="pettype" class="updateusertype">
                        <option value="1">猫</option>
                        <option value="2">狗</option>
                        <option value="3">小宠</option>
                        <option value="4">其他</option>
                    </select>
                </div>
                <br/>
                <div class="twoline">
                    <span>宠物照片</span>
                    <input type="file" name="file0" class="file0" multiple="multiple" value={{ data.photo }}/>
                </div>
                <br>
                <br>
                <img src="{{ data.photo.url }}" class="img0"
                     style="margin-left: 80px;margin-top: -10px;height:100px;" name="photo">
                <br/>
                <div style="margin-top: 30px">
                    <span style="line-height: 180px;font-size: 20px">宠物偏好</span>
                    <span><input type="text" name="newuserpetlike" style="width:650px;height: 150px;margin-bottom: 30px"
                                 value={{ data.like }}></span>
                </div>
            </div>
        {% endfor %}
        {#        <div class="addreduce">#}
        {##}
        {#            <a class="add">添加更多宠物</a>#}
        {##}
        {#            <a class="remove hide" style="margin-left: 30px">删除</a>#}
        {##}
        {#        </div>#}
        <div class="twoline">
            <input type="submit" value="保存">
        </div>


    </div>

{% endblock %}