<div class="account-l fl">
    <a class="list-title" href="/">菜单预览</a>
    <ul id="accordion" class="accordion">
        <li>
            <div class="link"><i class="fa fa-leaf"></i>订单管理<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
                <li id="shop"><a href="/newcase">新建订单</a></li>
                <li id="address"><a href="/caselist">订单列表</a></li>

{#               <li id="address"><a>待寄养订单</a></li>#}
{#                <li id="publicproducts"><a href="/processingcase">寄养中订单</a></li>#}
{#                <li id="productlists"><a>已完成订单</a></li>#}
{#                <li id="mysaled"><a>已取消订单</a></li>#}
            </ul>
        </li>
        <li>
            <div class="link"><i class="fa fa-pencil-square-o"></i>家庭/宠物管理<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
                <li id="buyerxunpanlist"><a href="/newuser">新建家庭</a></li>
                <li id="publicproducts"><a href="/familylist">家庭/宠物列表</a></li>
            </ul>
        </li>
        <li>
            <div class="link"><i class="fa fa-shopping-cart"></i>财务管理<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
                <li id="getneeds"><a href="/newpayout/">新建支出</a></li>
                <li id="mysaled"><a href="/incomelist/">收入列表</a></li>
                <li id="postneeds"><a href="/paylist/">支出列表</a></li>
            </ul>
        </li>

        <li>
            <div class="link"><i class="fa fa-file-text"></i>排期管理<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
                <li id="myorder"><a href="/task/">位置排期</a></li>
                <li id="myrefund"><a>定时任务列表</a></li>
            </ul>
        </li>
    </ul>
</div>
