<!DOCTYPE html>
<html>
<head>
    <link href="../static/img">
</head>
<body >
{#<div ><img src="../media/login.jpg" style="width: 50%;height: 50%" alt=""></div>#}
<div style="background-image:url('../static/img/cat.png');width: 50%;height: 500px"></div>
   <div class="login" style="border: 1px solid darkorange">
        <h2>会员登录</h2>

        <form action="" method="post">
            <div class="twoline">
                手机：&nbsp{{ form.username }}
            <br/>
            <br/>
            密码：&nbsp{{ form.password }}
            <br/>
            <!--{{ form.as_table }}-->
            <br/>
            </div>

            <div>
                <input type="submit" value="登录" class="log">
            </div>
        </form>


         <a href="/register/" class="register" style="float:right">register</a>

    <div>
        {{ err }}
    </div>
    </div>
</body>
</html>



