{% extends 'master/layout.html' %}
{% block content %}
    <div>
    <div class="readonly">
        <div class="newcasetitle">
            <p>支出费用详情</p>
        </div>
        <div class="twoline">
            <span>支出时间</span>
            <input type="text" name="payouttime"  style="width: 180px" value={{ obj.updatedata|date:'Y-m-d' }}>
        </div>
        <br>
        <div class="twoline">
            <span>支出金额</span>
            <input type="text" name="payoutcount" value={{ obj.pay }}>&nbsp;元
        </div>
        <br>
        <div class="twoline">
            <span>付款人员</span>
            <input type="text" name="payoutperson" value={{ obj.worker }}>&nbsp;
        </div>
        <br>
        <div>
            <span style="line-height: 180px;font-size: 20px">支出原因</span>
            <span><input type="text" name="payoutreasion" style="width:650px;height: 150px" value={{ obj.payreasion }}></input></span>
        </div>
        </div>
        <div class="twoline">
            <span onclick="javascript:window.history.back()"  class="finishback">返回</span>
        </div>

    </div>
{% endblock %}